html, body {
    height: 100%;
}

body {
    background-color: rgb(65, 66, 125);
}

form {
    padding: 0%;
}

h1 {
    color: white;
}

input[type=text] {
    width: 750px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-image: url("assets/searchicon.png");
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 16px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=submit] {
    alignment: right;
    width: 100px;
    background-color: rgb(150, 66, 125);
    border: none;
    color: white;
    padding: 6px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font: italic bold 16px/30px Georgia, serif;
}

#header {
    height: 91px;
    text-align: left;
}

#url_search {
    vertical-align: bottom;
    margin: 10px 10px 0px 40px;
}

#title {
    height: 150px;
    width: 150px;
    background-image: url("assets/logo.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

table#reddit_trending {
    border: 1px solid black;
    border-spacing: 1px;
    border-collapse: collapse;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: -5px 5px 3px;
}

.widget {
	border-radius: 10px;
    box-shadow: -10px 10px 5px rgba(0.5,0.5,0.5,0.5);
}

.greenwidget {
	background: linear-gradient(to bottom, lightgreen, green);
	background: -o-linear-gradient(bottom, lightgreen, green);	
}
.yellowwidget {
	background: linear-gradient(to bottom, lightyellow, yellow);
	background: -o-linear-gradient(bottom, lightyellow, yellow);	
}
.redwidget {
	background: linear-gradient(to bottom, pink, red);
	background: -o-linear-gradient(bottom, pink, red);	
}

a {
    display: block;
    height: 100%;        
    width: 100%;
}

#footer {
    height: 91px;
}

.target-sidebar {
	height:95%;
	width:90%;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
	border-radius:10px;
	box-shadow: -10px 10px 5px rgba(0,0,0,0.3);
}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.sheen { 	
  height: 400px;
  width: 15px;
  background: rgba(255, 255, 255, 0.5);
  float: left;
}
.sheen {
  position: absolute;
  left: 50px;
  top: 25px;
  box-shadow: 0 0 20px #FFF;
  -webkit-transform: rotate(20deg);
  transform:         rotate(20deg);
}
.sheen {
  transition: left 2s ease-in-out;
}
#footer:loaded .sheen {	
  left: 900px;
}
